@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Machine(s):</h1>

@if (@Model.Count == 0)
{
  <h3>No machine(s) as of yet. Lets input some?</h3>
} 

@foreach (Machine machine in Model)
{
  <li>@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineId }) </li>
}
<br>

<div>
  <span>
      <span>@Html.ActionLink("Add new machine", "Create")</span>
      <br>
      <span>@Html.ActionLink("Add new Engineer", "Create", "Engineers")</span>
      <br>
      <span>@Html.ActionLink("Back to home", "Index", "Home")</span>
  </span>
</div>
