@{
  Layout="_Layout";
}

@model Factory.Models.Engineer

<h2>Add a Machine</h2>
<hr />

<h4>Add a Machine to this Engineer: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save"/>
}

<br>
<div>
  <span>
      <span>@Html.ActionLink("Back to engineers", "Index")</span>
      <br>
      <span>@Html.ActionLink("Home", "Index", "Home")</span>
  </span>
</div>